<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill Generator</title>
</head>
<body>
    <h1>Bill Generator</h1>
    <form action="/generate-bill" method="POST">

        <!-- customer details  -->
        <h3>Customer details</h3>
        <label for="customer_name">Name:</label>
        <input type="text" id="customer_name" name="customer_name" required><br><br>
        <label for="customer_address">Address:</Address></label>
        <textarea name="customer_address" id="customer_address" required></textarea><br><br>
        <label for="customer_contact">Contact Number:</label>
        <input type="text" id="customer_contact" name="customer_contact" required><br><br>

        <!-- Item details -->
        <h3>Item Details</h3>
        <div id="items">
            <div class="item">
                <label>Product Name:</label>
                <input type="text" name="product_name[]" required>
                <label>Quantity:</label>
                <input type="number" name="quantity[]" min="1" required>
                <label>Price:</label>
                <input type="number" name="price[]" min="0.01" step="0.01" required>
            </div>
        </div>
        <button type="button" onclick="addItem()">Add More Items</button><br><br>

        <!-- Submit button  -->
        <button type="submit">Generate Bill</button>
    </form>
    <script>
        function addItem(){
            const itemsDiv = document.getElementById('items');
            const newItem = document.createElement('div');
            newItem.classList.add('item');
            newItem.innerHTML = 
            `<label>Product Name:</label>
            <input type="text" name="product_name[]" required>
            <label>Quantity:</label>
            <input type="number" name="quantity[]" min="1" required>
            <label>Price:</label>
            <input type="number" name="price[]" min="0.01" step="0.01" required>`;
            itemsDiv.appendChild(newItem);
        }
    </script>
</body>
</html>